@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/fraunces-v24-latin-900.woff2") format("woff2"), url("../fonts/fraunces-v24-latin-900.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v12-latin-700.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/barlow-v12-latin-700.woff2") format("woff2"), url("../fonts/barlow-v12-latin-700.woff") format("woff");
  font-display: swap;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  font-family: "Fraunces", serif;
  font-family: "Barlow", sans-serif;
}

.site-header {
  padding: 44px 0;
}

.site-header__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-header__img-wrap {
  max-width: 236px;
  height: 26px;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__item + .navbar__item {
  margin-left: 33px;
}

.navbar__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}
.navbar__link:hover {
  color: #333d4b;
}

.header__button {
  width: 20px;
  height: 20px;
  background-image: url("../../img/mobile.menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  display: none;
  padding: 0;
}

@media only screen and (max-width: 1040px) {
  .site-header {
    padding-top: 40px;
  }
  .site-header__wraper {
    max-width: 689px;
  }
}
@media only screen and (max-width: 589px) {
  .site-header {
    padding-top: 32px;
  }
  .site-header__wraper {
    max-width: 327px;
  }
  .site-header__img-wrap {
    max-width: 163px;
    height: 18px;
  }
  .navbar__list {
    display: none;
  }
  .header__button {
    display: inline-block;
  }
}
.hero {
  margin-bottom: 136px;
}

.hero__wrapper {
  background-image: url("../../img/hero-bg.png");
  background-repeat: no-repeat;
  padding: 117px 0 116px 85px;
}

.hero__content {
  max-width: 493px;
}

.hero__title {
  max-width: 493px;
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
  margin: 0;
  margin-bottom: 32px;
}

.hero__text {
  max-width: 444px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  opacity: 0.8;
  margin-bottom: 71px;
}

.hero__link {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #fefcf7;
  padding: 15px 31px;
  background: #0e8784;
  border-radius: 6px;
  display: inline-block;
}
.hero__link:hover {
  background-color: #66d2cf;
}
.hero__link:active {
  background-color: #e2dedb;
}

.navbar__mobile-list {
  position: fixed;
  background: linear-gradient(2deg, rgba(254, 252, 247, 0.504981) 0%, hsl(43deg, 78%, 98%) 55.94%);
  left: 0;
  right: 0;
  height: 100vh;
  top: 93px;
}

.navbar__mobile-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.navbar__mobile-item {
  margin-top: 40px;
}

.navbar__mobile-link {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
}

.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overflow {
  overflow: hidden;
}

@media only screen and (max-width: 1040px) {
  .hero {
    margin-bottom: 144px;
  }
  .hero__wrapper {
    background-image: url("../../img/tablet-bg.png");
    background-repeat: no-repeat;
    padding: 117px 0 116px 85px;
  }
  .hero__wrapper--about {
    background-image: url("../../img/about-tablet.png");
  }
  .hero__content {
    max-width: 398px;
  }
  .hero__title {
    max-width: 329px;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 24px;
  }
  .hero__text {
    max-width: 398px;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 589px) {
  .hero {
    margin-bottom: 120px;
  }
  .hero__wrapper {
    background-image: url("../../img/hero-bg-mob.png");
    background-repeat: no-repeat;
    padding: 100px 0 100px 24px;
    border-radius: 5px;
  }
  .hero__content {
    max-width: 279px;
    text-align: center;
  }
  .hero__title {
    max-width: 279px;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 24px;
  }
  .hero__text {
    max-width: 279px;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 40px;
  }
}
.navbar__mobile-list {
  position: fixed;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 252, 247, 0.504981)), color-stop(55.94%, #fefcf7));
  background: linear-gradient(180deg, rgba(254, 252, 247, 0.504981) 0%, #fefcf7 55.94%);
  left: 0;
  right: 0;
  height: 100vh;
  top: 93px;
}

.navbar__mobile-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.navbar__mobile-item {
  margin-top: 40px;
}

.navbar__mobile-link {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
  text-transform: uppercase;
}

.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overflow {
  overflow: hidden;
}

.collection {
  margin-bottom: 188px;
}

.collection__list {
  max-width: 1111px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 126px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url("../../img/type-bi-img.png");
  background-repeat: no-repeat;
  background-position: center top;
}

.collection__item {
  max-width: 255px;
  text-align: center;
}

.collection__img-wrapper {
  width: 255px;
}

.collection__image {
  width: 255px;
  height: 193px;
}

.collection__title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
  margin-top: 71px;
  margin-bottom: 24px;
}

.collection__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}

@media only screen and (max-width: 1040px) {
  .collection {
    margin-bottom: 129px;
  }
  .collection__list {
    max-width: 689px;
    display: inline-block;
    padding-top: 59px;
    background-image: url("../../img/collection-tablet.img");
    background-repeat: no-repeat;
    background-position: center top;
  }
  .collection__item {
    max-width: 573px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    margin-bottom: 47px;
  }
  .collection__title-wrappper {
    text-align: start;
    margin-left: 36px;
  }
  .collection__title {
    margin: 0;
    margin-bottom: 24px;
  }
  .collection__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #333d4b;
  }
}
@media only screen and (max-width: 589px) {
  .collection {
    margin-bottom: 120px;
  }
  .collection__list {
    max-width: 375px;
    display: inline-block;
    padding-top: 59px;
    background-image: url("../../img/collection-mobile.png");
    background-repeat: no-repeat;
    background-position: center top;
  }
  .collection__item {
    max-width: 282px;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 47px;
  }
  .collection__img-wrapper {
    width: 200px;
    margin-bottom: 24px;
  }
  .collection__image {
    width: 200px;
    height: 151px;
  }
  .collection__title-wrappper {
    text-align: center;
    margin-left: 0;
  }
  .collection__title {
    margin: 0;
    margin-bottom: 24px;
  }
  .collection__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #333d4b;
  }
}
.choose {
  margin-bottom: 351px;
}

.choose__wrapper {
  position: relative;
  height: 557px;
  background: #2c343e;
  border-radius: 10px;
  padding-top: 100px;
}

.choose__title-wrapper {
  max-width: 544px;
  margin: 0 auto;
  text-align: center;
}

.choose__title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #fefcf7;
  margin-bottom: 32px;
}

.choose__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  opacity: 0.8;
}

.choose__list {
  position: absolute;
  max-width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: -152px;
  margin-left: 85px;
}

.choose__item {
  max-width: 350px;
  background-color: #0e8784;
  padding: 72px 48px 48px 47px;
  border-radius: 8px;
  text-align: center;
  margin-left: 30px;
}

.choose__item:nth-child(1) {
  margin-left: 0;
}

.choose__img-wrapper {
  max-width: 71px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 56px;
}

.choose__item-title {
  max-width: 256px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #fefcf7;
  margin-bottom: 24px;
}

.choose__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
}

@media only screen and (max-width: 1040px) {
  .choose {
    margin-bottom: 434px;
  }
  .choose__wrapper {
    position: relative;
    max-width: 688px;
    height: 573px;
    padding-top: 56px;
  }
  .choose__title-wrapper {
    max-width: 544px;
    margin: 0 auto;
    text-align: center;
  }
  .choose__title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 16px;
  }
  .choose__text {
    font-size: 15px;
    line-height: 25px;
  }
  .choose__list {
    position: absolute;
    max-width: 573px;
    bottom: -335px;
    margin-left: 57px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .choose__item {
    max-width: 573px;
    padding: 41px 48px 41px 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: start;
    margin-left: 0;
    margin-bottom: 24px;
  }
  .choose__text-wrapper {
    margin-left: 55px;
  }
  .choose__img-wrapper {
    max-width: 71px;
    height: 72px;
    margin-bottom: 0px;
  }
  .choose__item-img {
    width: 55px;
    height: 56px;
  }
}
@media only screen and (max-width: 589px) {
  .choose {
    margin-bottom: 717px;
  }
  .choose__wrapper {
    position: relative;
    max-width: 327px;
    height: 902px;
    padding-top: 64px;
  }
  .choose__title-wrapper {
    max-width: 279px;
    margin: 0 auto;
    text-align: center;
  }
  .choose__title {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 24px;
  }
  .choose__text {
    font-size: 15px;
    line-height: 25px;
  }
  .choose__list {
    position: absolute;
    max-width: 279px;
    bottom: -621px;
    margin-left: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .choose__item {
    max-width: 279px;
    padding: 72px 27px 51px 27px;
    display: inline-block;
    text-align: center;
    margin-left: 0;
    margin-bottom: 24px;
  }
  .choose__img-wrapper {
    max-width: 71px;
    height: 72px;
    margin: 0 auto;
    margin-bottom: 56px;
  }
  .choose__item-img {
    width: 71px;
    height: 72px;
  }
  .choose__text-wrapper {
    max-width: 256px;
    margin-left: 0;
  }
  .choose__item-title {
    max-width: 256px;
  }
}
.info {
  margin-bottom: 200px;
}

.info__wrapper {
  max-width: 1045px;
  margin-left: 85px;
}

.info__title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
  margin-bottom: 95px;
}

.info__span-wrapper {
  width: 760px;
  height: 2px;
  background-color: #fdd6ba;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 82px;
}

.info__span-wrapper span {
  background-color: #fefcf7;
  border: 2px solid #0e8784;
  display: block;
  width: 31px;
  height: 31px;
  border-radius: 50%;
}

.info__list {
  max-width: 1045px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__item {
  max-width: 288px;
  margin-left: 95px;
}

.info__item:nth-child(1) {
  margin-left: 0;
}

.info__strong {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}

.info__item-title {
  max-width: 200px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
  margin-top: 38px;
  margin-bottom: 42px;
}

.info__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}

.info__link {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #fefcf7;
  padding: 15px 31px;
  background: #0e8784;
  border-radius: 6px;
  display: inline-block;
  margin-top: 64px;
}
.info__link:hover {
  background-color: #66d2cf;
}
.info__link:active {
  background-color: #e2dedb;
}

@media only screen and (max-width: 1040px) {
  .info {
    margin-bottom: 144px;
  }
  .info__wrapper {
    max-width: 689px;
    margin-left: 0;
  }
  .info__title {
    margin-bottom: 55px;
  }
  .info__span-wrapper {
    width: 467px;
    margin-bottom: 62px;
  }
  .info__list {
    max-width: 689px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .info__item {
    max-width: 218px;
    margin-left: 10px;
  }
  .info__item {
    height: 366px;
  }
  .info__item-title {
    max-width: 200px;
    font-size: 28px;
    line-height: 32px;
    margin-top: 42px;
    margin-bottom: 38px;
  }
  .info__item-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #333d4b;
  }
}
@media only screen and (max-width: 589px) {
  .info {
    margin-bottom: 120px;
  }
  .info__wrapper {
    max-width: 327px;
  }
  .info__title {
    margin-bottom: 80px;
    text-align: center;
  }
  .info__span-wrapper {
    display: none;
  }
  .info__list {
    max-width: 327px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .info__item {
    max-width: 327px;
    margin-left: 0;
    text-align: center;
  }
  .info__item-title {
    max-width: 327px;
    font-size: 28px;
    line-height: 32px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .info__link {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #fefcf7;
    padding: 15px 31px;
    background: #0e8784;
    border-radius: 6px;
    display: inline-block;
    margin: 0 auto;
    margin-left: 58px;
  }
  .info__link:hover {
    background-color: #66d2cf;
  }
  .info__link:active {
    background-color: #e2dedb;
  }
}
.site-footer {
  padding: 47px 0;
  background: #2c343e;
}

.site-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-footer__img {
  width: 236px;
  height: 26px;
}

.site-footer_list {
  max-width: 313px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 103px;
}

.site-footer__item {
  margin-left: 33px;
}

.site-footer__item:nth-child(1) {
  margin-left: 0;
}

.site-footer__item-link {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}
.site-footer__item-link:hover {
  color: #fefcf7;
}

.footer__icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 465px;
}

.footer__icon-item {
  margin-left: 24px;
}

.footer__icon-item:nth-child(1) {
  margin-left: 0;
}

.site-footer__icon:hover path {
  fill: #fdd6ba;
}

@media only screen and (max-width: 1040px) {
  .site-footer {
    padding: 54px 0;
    background: #2c343e;
  }
  .site-footer__wrapper {
    max-width: 688px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .site-footer_list {
    max-width: 313px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
    margin-top: 33px;
    margin-bottom: 65px;
  }
  .footer__icon-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
  }
}
@media only screen and (max-width: 589px) {
  .site-footer {
    padding: 54px 0;
    background: #2c343e;
  }
  .site-footer__wrapper {
    max-width: 218px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 55px;
  }
  .site-footer__img {
    width: 218px;
    height: 24px;
  }
  .site-footer_list {
    max-width: 218px;
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .site-footer__item {
    margin-left: 0;
    margin-bottom: 24px;
  }
  .site-footer__item:nth-child(3) {
    margin-bottom: 0;
  }
}
.hero-about {
  margin-bottom: 168px;
}

.hero-about__wrapper {
  max-width: 1280px;
  width: 100%;
  background-image: url("../../img/about-hero-bi.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 137px 0 137px 85px;
  border-radius: 10px;
}

.hero-about__content {
  max-width: 445px;
}

.hero-about__title {
  max-width: 188px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #fefcf7;
}

.hero-about__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
}

@media only screen and (max-width: 1040px) {
  .hero-about {
    margin-bottom: 144px;
  }
  .hero-about__wrapper {
    max-width: 689px;
    width: 100%;
    background-image: url("../../img/about-tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 118px 0 118px 58px;
    border-radius: 10px;
  }
  .hero-about__content {
    max-width: 398px;
  }
  .hero-about__title {
    max-width: 150px;
    font-size: 32px;
    line-height: 40px;
  }
  .hero-about__text {
    font-size: 15px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 598px) {
  .hero-about {
    margin-bottom: 120px;
  }
  .hero-about__wrapper {
    max-width: 327px;
    width: 100%;
    background-image: url("../../img/about-mobile-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 111px 0 87px 24px;
    border-radius: 10px;
  }
  .hero-about__content {
    max-width: 279px;
    text-align: center;
  }
  .hero-about__title {
    max-width: 279px;
    font-size: 28px;
    line-height: 28px;
  }
  .hero-about__text {
    font-size: 15px;
    line-height: 25px;
    opacity: 0.8;
  }
}
.feature {
  margin-bottom: 244px;
}

.feature__wrapper {
  max-width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 0 auto;
}

.feature__content-wrap {
  max-width: 540px;
  margin-left: 125px;
}

.feature__title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333d4b;
  margin-bottom: 32px;
}

.feature__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
  opacity: 0.8;
}

.feature__img-wrap {
  max-width: 445px;
  height: 520px;
}

.feature__img {
  width: 445px;
  height: 520px;
}

@media only screen and (max-width: 1040px) {
  .feature {
    margin-bottom: 304px;
  }
  .feature__wrapper {
    max-width: 689px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-left: 0;
    background-image: url("../../img/feature_tablet.png");
    background-repeat: no-repeat;
    border-radius: 8px;
  }
  .feature__content-wrap {
    max-width: 339px;
    margin-left: 69px;
  }
  .feature__title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 30px;
  }
  .feature__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
  }
  .feature__img-wrap {
    display: none;
  }
  .feature__img {
    display: none;
  }
}
@media only screen and (max-width: 589px) {
  .feature {
    margin-bottom: 198px;
  }
  .feature__wrapper {
    max-width: 327px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: url("../../img/about-feature-img.png");
    background-repeat: no-repeat;
    border-radius: 8px;
  }
  .feature__content-wrap {
    max-width: 327px;
    margin-left: 0px;
    text-align: center;
    margin-top: 582px;
  }
  .feature__title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 30px;
  }
  .feature__text {
    font-size: 15px;
    line-height: 25px;
    max-width: 327px;
  }
  .feature__img-wrap {
    display: none;
  }
  .feature__img {
    display: none;
  }
}
.quality {
  margin-bottom: 168px;
}

.quality__wrapper {
  position: relative;
  background-color: #2c343e;
  border-radius: 10px;
  padding: 88px 0 176px 85px;
}

.quality__content {
  max-width: 540px;
}

.quality__title {
  max-width: 517px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #fefcf7;
  margin-bottom: 32px;
}

.quality__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  opacity: 0.8;
}

.quality__img-wrapper {
  position: absolute;
  width: 445px;
  height: 474px;
  right: 85px;
  bottom: 81px;
}

@media only screen and (max-width: 1040px) {
  .quality {
    margin-bottom: 144px;
  }
  .quality__wrapper {
    position: relative;
    max-width: 688px;
    background-color: #2c343e;
    padding: 224px 0 67px 74px;
  }
  .quality__content {
    max-width: 540px;
    text-align: center;
  }
  .quality__title {
    max-width: 413px;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .quality__text {
    font-size: 15px;
    line-height: 25px;
  }
  .quality__img-wrapper {
    position: absolute;
    width: 573px;
    height: 320px;
    background-image: url("../../img/quality___tablet.png");
    background-repeat: no-repeat;
    background-position: center top;
    border-radius: 8px;
    left: 57px;
    bottom: 308px;
  }
  .quality__img {
    display: none;
  }
}
@media only screen and (max-width: 589px) {
  .quality {
    margin-bottom: 120px;
  }
  .quality__wrapper {
    position: relative;
    max-width: 327px;
    background-color: #2c343e;
    border-radius: 10px;
    padding: 142px 0 61px 24px;
  }
  .quality__content {
    max-width: 279px;
    text-align: center;
  }
  .quality__title {
    max-width: 279px;
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 24px;
  }
  .quality__text {
    max-width: 279px;
    font-size: 15px;
    line-height: 25px;
  }
  .quality__img-wrapper {
    position: absolute;
    width: 279px;
    height: 156px;
    background-image: url("../../img/quality___mobile.img");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    border-radius: 8px;
    left: 25px;
    bottom: 423px;
  }
  .quality__img {
    display: none;
  }
}
.country {
  margin-bottom: 168px;
}

.country__wrapper {
  max-width: 1045px;
  margin-left: 85px;
}

.country__title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
  margin-bottom: 72px;
}

.country__list {
  max-width: 1045px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.country__item {
  max-width: 272px;
  text-align: start;
  height: 262px;
}

.country__img-wrapper {
  width: 41px;
  height: 50px;
  margin-bottom: 45px;
}

.country__img {
  width: 41px;
  height: 50px;
}

.country__item-title {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
  margin-bottom: 24px;
}

.country__text {
  max-width: 140px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}

@media only screen and (max-width: 1040px) {
  .country {
    margin-bottom: 144px;
  }
  .country__wrapper {
    max-width: 688px;
    margin-left: 0;
  }
  .country__list {
    max-width: 688px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .country__item {
    max-width: 223px;
    text-align: start;
    height: 262px;
  }
  .country__item-title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 21px;
  }
}
@media only screen and (max-width: 589px) {
  .country {
    margin-bottom: 120px;
  }
  .country__wrapper {
    max-width: 327px;
    margin-left: 0px;
  }
  .country__title {
    font-size: 24px;
    line-height: 32px;
    color: #83888f;
    margin-bottom: 72px;
    text-align: center;
  }
  .country__list {
    max-width: 327px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .country__item {
    max-width: 327px;
    text-align: center;
    height: 262px;
    margin-bottom: 80px;
  }
  .country__img-wrapper {
    width: 41px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 45px;
  }
  .country__item-title {
    font-size: 28px;
    line-height: 36px;
    color: #333d4b;
    margin-bottom: 22px;
  }
  .country__text {
    max-width: 140px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333d4b;
    margin: 0 auto;
  }
}
.hero-create {
  margin-bottom: 160px;
}

.hero-create__wrapper {
  max-width: 1280px;
  width: 100%;
  background-image: url("../../img/create-hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 134px 0 134px 85px;
  border-radius: 10px;
}

.hero-create__content {
  max-width: 485px;
}

.hero-create__title {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
  margin: 0;
  margin-bottom: 32px;
}

.hero-create__text {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  opacity: 0.8;
}

@media only screen and (max-width: 1040px) {
  .hero-create {
    margin-bottom: 130px;
  }
  .hero-create__wrapper {
    max-width: 689px;
    width: 100%;
    background-image: url("../../img/creata__tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 127px 0 126px 58px;
    border-radius: 10px;
  }
  .hero-create__content {
    max-width: 398px;
  }
  .hero-create__title {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 24px;
  }
  .hero-create__text {
    font-size: 15px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 589px) {
  .hero-create {
    margin-bottom: 120px;
  }
  .hero-create__wrapper {
    max-width: 327px;
    width: 100%;
    background-image: url("../../img/creata__mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 101px 0 136px 24px;
    border-radius: 10px;
  }
  .hero-create__content {
    max-width: 279px;
    text-align: center;
  }
  .hero-create__title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 22px;
  }
  .hero-create__text {
    font-size: 15px;
    line-height: 25px;
  }
}
.pick {
  margin-bottom: 168px;
}

.pick__wrapper {
  max-width: 1280px;
  padding: 106px 0 106px 85px;
  background: #2c343e;
  border-radius: 10px;
}

.pick__title {
  color: #fefcf7;
}

.pick__text {
  color: #fefcf7;
}

.pick__span span {
  background-color: #2c343e;
}

@media only screen and (max-width: 1040px) {
  .pick {
    margin-bottom: 144px;
  }
  .pick__wrapper {
    max-width: 688px;
    padding: 97px 20px 97px 20px;
    background: #2c343e;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 589px) {
  .pick {
    margin-bottom: 120px;
  }
  .pick__wrapper {
    max-width: 327px;
    padding: 80px 12px 0 12px;
    background: #2c343e;
    border-radius: 10px;
  }
}
.coffee-section {
  margin-bottom: 168px;
}

.coffee__wrapper {
  max-width: 1110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.coffee__list {
  max-width: 255px;
}

.coffee__item {
  max-width: 255px;
  margin-bottom: 24px;
}

.coffee__item-link {
  color: #83888f;
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}
.coffee__item-link:hover {
  color: #333d4b;
}
.coffee__item-link:active {
  color: #333d4b;
}

.coffee_item-span {
  margin-right: 28px;
}

.coffee__item-line {
  background: #83888f;
  opacity: 0.25;
  margin-top: 24px;
}

.coffee__list-type {
  max-width: 730px;
  margin-left: 125px;
}

.taste__item {
  text-align: start;
  margin-bottom: 88px;
}

.taste__item-title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #83888f;
  margin-bottom: 56px;
}

.taste__list {
  width: 730px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 88px;
}

.taste__item-inner {
  max-width: 229px;
  height: 250px;
  background-color: #f4f1eb;
  margin-left: 23px;
  border-radius: 8px;
}

.taste__item-inner:nth-child(1) {
  margin-left: 0;
}

.taste__item-link {
  display: inline-block;
  padding: 32px 24px 84px 28px;
  border-radius: 8px;
}

.taste__item-link:hover {
  background-color: #fdd6ba;
  border-radius: 8px;
}

.taste__item-link:active {
  background-color: #0e8784;
  border-radius: 8px;
}

.taste__item-subtitle {
  max-width: 175px;
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
  margin-bottom: 24px;
}

.taste__item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}

.coffee__end-wrapper {
  max-width: 730px;
  margin-left: 354px;
}

.coffee__end-text-wrapper {
  max-width: 730px;
  background-color: #2c343e;
  border-radius: 10px;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 64px;
  padding-right: 64px;
}

.coffee_end-small {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
  display: inline-block;
  margin-bottom: 8px;
}

.coffee__end-text {
  max-width: 602px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #ffffff;
}

.coffee__end-span {
  color: #0e8784;
}

.coffee__end-link {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #fefcf7;
  padding: 15px 31px;
  background: #0e8784;
  border-radius: 6px;
  display: inline-block;
  margin-top: 40px;
  margin-left: 522px;
}
.coffee__end-link:hover {
  background-color: #66d2cf;
}
.coffee__end-link:active {
  background-color: #e2dedb;
}

@media only screen and (max-width: 1040px) {
  .coffee-section {
    margin-bottom: 144px;
  }
  .coffee__wrapper {
    max-width: 689px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .coffee__list {
    display: none;
  }
  .coffee__list-type {
    max-width: 689px;
    margin-left: 0px;
  }
  .taste__item {
    text-align: start;
    margin-bottom: 100px;
  }
  .taste__item-title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 40px;
  }
  .taste__list {
    max-width: 689px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 100px;
  }
  .taste__item-inner {
    max-width: 223px;
    height: 250px;
    background-color: #f4f1eb;
    margin-left: 10px;
    border-radius: 8px;
  }
  .taste__item-link {
    display: inline-block;
    padding: 32px 26px 84px 28px;
    border-radius: 8px;
  }
  .taste__item-subtitle {
    max-width: 175px;
    font-family: "Fraunces", serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333d4b;
    margin-bottom: 24px;
  }
  .coffee__end-wrapper {
    max-width: 689px;
    margin-left: 0px;
  }
}
@media only screen and (max-width: 1120px) {
  .coffee__list {
    display: none;
  }
  .coffee__end-text-wrapper {
    max-width: 689px;
    background-color: #2c343e;
    border-radius: 10px;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 44px;
    padding-right: 43px;
  }
  .coffee__end-link {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #fefcf7;
    padding: 15px 31px;
    background: #0e8784;
    border-radius: 6px;
    display: inline-block;
    margin-top: 40px;
    margin-left: 221px;
  }
  .coffee__end-link:hover {
    background-color: #66d2cf;
  }
  .coffee__end-link:active {
    background-color: #e2dedb;
  }
}
@media only screen and (max-width: 589px) {
  .coffee-section {
    margin-bottom: 120px;
  }
  .coffee__wrapper {
    max-width: 328px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .coffee__list-type {
    max-width: 328px;
    margin-left: 0px;
  }
  .taste__item {
    text-align: start;
    margin-bottom: 110px;
  }
  .taste__item-title {
    max-width: 240px;
    font-size: 24px;
    line-height: 28px;
    color: #83888f;
    margin-bottom: 18px;
  }
  .taste__list {
    width: 689px;
    display: inline-block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0px;
  }
  .taste__item-inner {
    max-width: 328px;
    height: 140px;
    background-color: #f4f1eb;
    margin-left: 0;
    border-radius: 8px;
    margin-bottom: 16px;
  }
  .taste__item-link {
    display: inline-block;
    padding: 24px 25px 24px 25px;
    border-radius: 8px;
  }
  .taste__item-subtitle {
    margin-bottom: 8px;
  }
  .coffee__end-wrapper {
    max-width: 328px;
    margin-left: 0px;
  }
  .coffee__end-text-wrapper {
    max-width: 689px;
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
  }
  .coffee__end-link {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #fefcf7;
    padding: 15px 31px;
    background: #0e8784;
    border-radius: 6px;
    display: inline-block;
    margin-top: 56px;
    margin-left: 56px;
  }
  .coffee__end-link:hover {
    background-color: #66d2cf;
  }
  .coffee__end-link:active {
    background-color: #e2dedb;
  }
}/*# sourceMappingURL=main.css.map */