@mixin list {
  display: flex;
  align-items: center;
}

@mixin header__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;

  &:hover {
    color: #333d4b;
  }
}

@mixin btn {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #fefcf7;
  padding: 15px 31px;
  background: #0e8784;
  border-radius: 6px;
  display: inline-block;

  &:hover {
    background-color: #66d2cf;
  }

  &:active {
    background-color: #e2dedb;
  }
}
