.feature {
  margin-bottom: 244px;
}

.feature__wrapper {
  max-width: 1110px;
  @include list;
  flex-direction: row-reverse;
  margin: 0 auto;
}

.feature__content-wrap {
  max-width: 540px;
  margin-left: 125px;
}

.feature__title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333d4b;
  margin-bottom: 32px;
}

.feature__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
  opacity: 0.8;
}

.feature__img-wrap {
  max-width: 445px;
  height: 520px;
}

.feature__img {
  width: 445px;
  height: 520px;
}

@media only screen and (max-width: 1040px) {
  .feature {
    margin-bottom: 304px;
  }

  .feature__wrapper {
    max-width: 689px;
    @include list;
    flex-direction: row-reverse;
    margin-left: 0;
    background-image: url("../../img/feature_tablet.png");
    background-repeat: no-repeat;
    border-radius: 8px;
  }

  .feature__content-wrap {
    max-width: 339px;
    margin-left: 69px;
  }

  .feature__title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 30px;
  }

  .feature__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
  }

  .feature__img-wrap {
    display: none;
  }

  .feature__img {
    display: none;
  }
}

@media only screen and (max-width: 589px) {
  .feature {
    margin-bottom: 198px;
  }

  .feature__wrapper {
    max-width: 327px;
    width: 100%;
    flex-direction: column;
    background-image: url("../../img/about-feature-img.png");
    background-repeat: no-repeat;
    border-radius: 8px;
  }

  .feature__content-wrap {
    max-width: 327px;
    margin-left: 0px;
    text-align: center;
    margin-top: 582px;
  }

  .feature__title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 30px;
  }

  .feature__text {
    font-size: 15px;
    line-height: 25px;
    max-width: 327px;
  }

  .feature__img-wrap {
    display: none;
  }

  .feature__img {
    display: none;
  }
}
