.site-header {
  padding: 44px 0;
}

.site-header__wraper {
  @include list;
  justify-content: space-between;
}

.site-header__img-wrap {
  max-width: 236px;
  height: 26px;
}

.navbar__list {
  @include list;
}

.navbar__item + .navbar__item {
  margin-left: 33px;
}

.navbar__link {
  @include header__link;
}

.header__button {
  width: 20px;
  height: 20px;
  background-image: url("../../img/mobile.menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  display: none;
  padding: 0;
}

@media only screen and (max-width: 1040px) {
  .site-header {
    padding-top: 40px;
  }

  .site-header__wraper {
    max-width: 689px;
  }
}

@media only screen and (max-width: 589px) {
  .site-header {
    padding-top: 32px;
  }

  .site-header__wraper {
    max-width: 327px;
  }

  .site-header__img-wrap {
    max-width: 163px;
    height: 18px;
  }

  .navbar__list {
    display: none;
  }

  .header__button {
    display: inline-block;
  }
}

.navbar__mobile-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.navbar__mobile-item {
  margin-top: 40px;
}

.navbar__mobile-link {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
  text-transform: uppercase;
}

.open {
  display: flex;
}

.overflow {
  overflow: hidden;
}
