.hero {
  margin-bottom: 136px;
}

.hero__wrapper {
  background-image: url("../../img/hero-bg.png");
  background-repeat: no-repeat;
  padding: 117px 0 116px 85px;
}

.hero__content {
  max-width: 493px;
}

.hero__title {
  max-width: 493px;
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
  margin: 0;
  margin-bottom: 32px;
}

.hero__text {
  max-width: 444px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  opacity: 0.8;
  margin-bottom: 71px;
}

.hero__link {
  @include btn;
}

.navbar__mobile-list {
  position: fixed;
  background: linear-gradient(
    2deg,
    rgba(254, 252, 247, 0.504981) 0%,
    hsl(43, 78%, 98%) 55.94%
  );
  left: 0;
  right: 0;
  height: 100vh;
  top: 93px;
}

.navbar__mobile-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.navbar__mobile-item {
  margin-top: 40px;
}

.navbar__mobile-link {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
}

.open {
  display: flex;
}

.overflow {
  overflow: hidden;
}

@media only screen and (max-width: 1040px) {
  .hero {
    margin-bottom: 144px;
  }

  .hero__wrapper {
    background-image: url("../../img/tablet-bg.png");
    background-repeat: no-repeat;
    padding: 117px 0 116px 85px;
  }

  // about html

  .hero__wrapper--about {
    background-image: url("../../img/about-tablet.png");
  }

  .hero__content {
    max-width: 398px;
  }

  .hero__title {
    max-width: 329px;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 24px;
  }

  .hero__text {
    max-width: 398px;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 589px) {
  .hero {
    margin-bottom: 120px;
  }

  .hero__wrapper {
    background-image: url("../../img/hero-bg-mob.png");
    background-repeat: no-repeat;
    padding: 100px 0 100px 24px;
    border-radius: 5px;
  }

  .hero__content {
    max-width: 279px;
    text-align: center;
  }

  .hero__title {
    max-width: 279px;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 24px;
  }

  .hero__text {
    max-width: 279px;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 40px;
  }
}
.navbar__mobile-list {
  position: fixed;
  background: linear-gradient(
    180deg,
    rgba(254, 252, 247, 0.504981) 0%,
    #fefcf7 55.94%
  );
  left: 0;
  right: 0;
  height: 100vh;
  top: 93px;
}

.navbar__mobile-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.navbar__mobile-item {
  margin-top: 40px;
}

.navbar__mobile-link {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
  text-transform: uppercase;
}

.open {
  display: flex;
}

.overflow {
  overflow: hidden;
}
